<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @repost.post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @repost.user_id %>
</p>

<%= link_to 'Edit', edit_repost_path(@repost) %> |
<%= link_to 'Back', reposts_path %>
