<div class="d-flex justify-content-center">
  <div style="
  width: 30%;
  ">
    <div class="devise_errors">
      <%= devise_error_messages! %>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'directUpload new_user mt-4 p-3 rounded', data: {'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host}, style: 'border: 1px solid #00968875'}) do |f| %>
      <div class="mb-3 text-center" style="
      font-size: 17px;
          color: #009688;
      ">Sign up for a new account
      </div>

      <div class="align-items-center card mb-4 pb-2">
        <%= image_tag '', class: 'mt-2 rounded-circle', style: "
    width: 128px;
    height: 128px; display: none;
" %></div>

      <div class="form-group">
        <%= f.file_field :avatar_key %>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <%= f.text_field :moniker, autofocus: true, placeholder: 'Moniker', class: "form-control", style: "font-size: 14px" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', class: "form-control", style: "font-size: 14px" %>
      </div>

      <div class="form-group">
        <%= f.text_field :fullname, placeholder: 'Full Name', class: "form-control", style: "font-size: 14px" %>
      </div>

      <div class="form-group">
        <%= f.text_area :description, placeholder: 'Describe yourself', class: "form-control", style: "font-size: 14px" %>
      </div>

      <div class="form-group">

        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: "form-control", style: "font-size: 14px" %>
        <% if @minimum_password_length %>
          <small class="text-muted"><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', class: "form-control", style: "font-size: 14px" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary w-100", style: "
    border-color: #009688;
    background: #009688;
" %>
      </div>
    <% end %>

    <div class="text-center mt-2" style="
    font-size: 15px;
    ">
      <span class="text-light text-muted">Already have an account?</span> <%= link_to "Log in", new_session_path(resource_name) %>
    </div>

  </div>
</div>
