<p id="notice"><%= notice %></p>

<p>
  <strong>Follower:</strong>
  <%= @relationship.follower %>
</p>

<p>
  <strong>User:</strong>
  <%= @relationship.user %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
