<li class="media mt-2 px-3 pb-2" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
  <%= image_tag post.user.avatar_url(120), size: '40x40', class: 'mr-3 rounded-circle' %>
  <div class="media-body">
    <div>
      <span class="mt-0 mb-1 h6" style="
      font-size: 14px;
      "><%= link_to(post.user.fullname, user_timeline_path(post.user.moniker), style: "color: #009688;") %></span>
      <span class="text-muted"><%= link_to('@' + post.user.moniker, user_timeline_path(post.user.moniker), style: "color: #009688;") %>
        . <%= time_ago_in_words(post.created_at) %>
</span>
    </div>
    <%= linkify_mentions(post.text).html_safe %>
    <div class="actions mt-3 d-flex flex-row" style="
    font-size: 12px;
    ">
      <%= button_to({action: "create"}, {class: "btn pb-0 align-items-end d-flex flex-row mr-4", style: "font-size: 13px;color: #666;"}) do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 8 8" class="mr-1">
          <path d="M.09 0c-.06 0-.09.04-.09.09v5.81c0 .05.04.09.09.09h5.91l2 2v-7.91c0-.06-.04-.09-.09-.09h-7.81z" transform="translate(0 -1.2)"/>
        </svg>
        555
      <% end %>
      <%= render 'repost_button', post: post %>
      <%= render 'like_button', post: post %>
    </div>
  </div>
</li>