<div class="align-items-center card">
  <%= image_tag user.avatar_url(384), class: 'mt-2 rounded-circle', style: "
    width: 128px;
    height: 128px;
" %>
  <h6 class="mb-0 mt-2"><%= user.fullname %></h6>
  <p>@<%= user.moniker %></p>

  <div class="px-3 w-100">
    <p class="card-text text-center"><%= user.description %></p>
  </div>

  <div class="d-flex mb-4 mt-2">
    <%= link_to root_url, class: "align-items-center card-link d-flex flex-column", style: "color: #009688;" do %>
      <p class="my-0">Posts</p><%= user.posts.count %>
    <% end %>
    <%= link_to followers_relationships_url, class: "align-items-center card-link d-flex flex-column", style: "color: #009688;" do %>
      <p class="my-0">Followers</p><%= user.followers.count %>
    <% end %>
    <%= link_to followings_relationships_url, class: "align-items-center card-link d-flex flex-column", style: "color: #009688;" do %>
      <p class="my-0">Following</p><%= user.followings.count %>
    <% end %>
  </div>
  <div class="mb-4 mt-2 px-3 text-center w-100">
    <% unless user.id == current_user.id %>
      <!--TODO: Won't scale-->
      <% unless current_user.followings.pluck(:id).include?(user.id) %>
        <%= form_for Relationship.new(user_id: user.id, follower_id: current_user.id) do |f| %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :follower_id %>
          <%= f.submit("Follow", class: "btn btn-outline-success py-0 mt-2", style: "border-radius: 1rem; font-size: 13px;") %>
        <% end %>

      <% else %>

        <%= form_for Relationship.find_by!(user_id: user.id, follower_id: current_user.id), method: :delete do |f| %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :follower_id %>
          <%= f.submit("Following", class: "btn btn-outline-danger py-0 mt-2", style: "border-radius: 1rem; font-size: 13px;") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>