<div class="row">
  <div class="col-3">
    <div class="align-items-center card">
      <%= image_tag current_user.avatar_url(384), class: 'mt-2 rounded-circle', style: "
    width: 128px;
    height: 128px;
" %>
      <h6 class="mb-0 mt-2"><%= current_user.fullname %></h6>
      <p>@<%= current_user.moniker %></p>

      <div class="px-3 w-100">
        <p class="card-text"><%= current_user.description %></p>
      </div>
      <div class="d-flex mb-4 mt-2">
        <a href="#" class="align-items-center card-link d-flex flex-column" style="color: #009688;"><p class="my-0">Posts</p><%= current_user.posts.count %></a>
        <a href="#" class="align-items-center card-link d-flex flex-column" style="color: #009688;"><p class="my-0">Followers</p>0</a>
        <a href="#" class="align-items-center card-link d-flex flex-column" style="color: #009688;"><p class="my-0">Following</p>0</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <ul class="list-unstyled card pb-5">
      <div style="
      background: #0096880d;
          border: 1px solid #00800033;
      " class="rounded">
        <%= form_for(@post, :html => {class: 'align-items-end d-flex flex-column input-group p-2 pb-0'}) do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
              <ul>
                <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.text_area :text, class: "form-control w-100", placeholder: "What's happening?", style: "font-size: 14px;", rows: "1" %>
          <%= f.submit class: "btn btn-outline-success mt-2", style: "font-size: 14px;"%>
        <% end %>

      </div>

      <% @posts.each do |post| %>
        <li class="media mt-2 px-3 pb-2" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
          <%= image_tag post.user.avatar_url(120), size: '40x40', class: 'mr-3 rounded-circle' %>
          <div class="media-body">
            <div>
              <span class="mt-0 mb-1 h6" style="
            font-size: 14px;
            "><%= post.user.fullname %></span>
              <span class="text-muted">@<%= post.user.moniker %> . 2m</span>
            </div>
            <%= post.text %>
            <div class="actions mt-3 d-flex flex-row" style="
            font-size: 12px;
            ">
              <a href="#" class="align-items-end d-flex flex-row mr-4" style="
              color: #666;
              ">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 8 8">
                  <path d="M.09 0c-.06 0-.09.04-.09.09v5.81c0 .05.04.09.09.09h5.91l2 2v-7.91c0-.06-.04-.09-.09-.09h-7.81z" transform="translate(0 -1.2)"/>
                </svg>
                <div class="ml-1">0</div>
              </a>
              <a href="#" class="align-items-end d-flex flex-row mr-4" style="
              color: #666;
              ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                  <path d="M6 0v1h-5c-.55 0-1 .45-1 1v1h1v-1h5v1l2-1.5-2-1.5zm-4 4l-2 1.5 2 1.5v-1h5c.55 0 1-.45 1-1v-1h-1v1h-5v-1z" transform="translate(0 -0.5)"/>
                </svg>
                <div class="ml-1">0</div>
              </a>
              <a href="#" class="align-items-end d-flex flex-row mr-4" style="
              color: #666;
              ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                  <path d="M2 0c-.55 0-1.04.23-1.41.59-.36.36-.59.85-.59 1.41 0 .55.23 1.04.59 1.41l3.41 3.41 3.41-3.41c.36-.36.59-.85.59-1.41 0-.55-.23-1.04-.59-1.41-.36-.36-.85-.59-1.41-.59-.55 0-1.04.23-1.41.59-.36.36-.59.85-.59 1.41 0-.55-.23-1.04-.59-1.41-.36-.36-.85-.59-1.41-.59z"
                  />
                </svg>
                <div class="ml-1">0</div>
              </a>
            </div>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div><span class="h6">Who to follow</span> .
          <span class="small"><a href="#" style="color: #009688;">Refresh</a> · <a href="#" style="color: #009688;">View all</a></span></div>
      </div>
      <ul class="list-group list-group-flush">
        <% User.where.not(id: current_user.id).last(6).each do |u| %>
          <li class="list-group-item">
            <div class="media">
              <%= image_tag u.avatar_url(120), size: '40x40', class: 'mr-3 rounded-circle' %>
              <div class="media-body">
                <h6 class="h mb-0 mt-0" style="
                font-size: 14px;
                "><%= u.fullname %></h6>
                <button type="button" class="btn btn-outline-primary py-0 mt-2" style="border-radius: 1rem; font-size: 10px;">Follow
                </button>

              </div>
            </div>
          </li>
        <% end %>
      </ul>

    </div>
    <div class="card mt-3">
      <div class="card-body">
        © 2018 Mayowa Yakub


      </div>
    </div>
  </div>
</div>